<div class="map-container">
  <div id="welcome" class="text-center" ng-show="welcomeView.active" ngcloak="">
  	<div class="row">
  		<div class="large-5 columns large-centered">
  			    <h2>Welcome <small>to the Santa Barbara Community&nbsp;College<br>Virtual&nbsp;Tour</small></h2>
  				<p>Explore our beautiful campus and experience what it is like to be a student at Santa Barbara Community College.</p>
  		</div>
  	</div>
    
	<div class="welcome-options row">
		<div class="large-6 columns large-centered">
			<div class="row">
				<div class="large-5 columns large-offset-1">
					<a href="#/locations/intro" ng-click="welcomeView.active = false" class="button h-welcome-guided-button">Begin Guided Tour<small>Follow our students through a day in the life.</small></a>
				</div>
				<div class="large-1 columns">
					<span>Or</span>
				</div>
				<div class="large-5 columns">
					<a href="" ng-click="welcomeView.active = false" class="button h-welcome-explore-button">Explore the Map<small>Pick a point on the map that interests you.</small></a>
				</div>
			</div>
		</div>
	</div>
  </div>
  <div id="map"></div>
</div>